﻿.professions {
	background: black;
	color: white;
	width: calc(100% - 2em);
	padding: 1em;
	padding-left: 1.1em;
	border-radius: 1.2em;
	margin: 0 auto;
}

.professions__title {
	font-size: 1.3em;
}

.professions__container {
	display: flex;
	margin: 2em 0;
	justify-content: space-between;
}


.professions__item {
	display: flex;
	flex-direction: column;
	width: 25%;
	padding-right: 2%;
}

.professions__item img {
	display: flex;
	height: 14em;
	margin-bottom: 0.8em;
}

.professions__name {
	color: #ff6900;
}

.professions__description {
	margin-bottom: 0.7em;
	line-height: 1.4em;
}
