﻿.start {
	height: 100vh;
	min-height: 38em;
}

.start__logo {
	padding: 1em;
	width: 17em;
	padding-bottom: 0;
}

.start__content_container {
	margin: 0 auto;
	width: calc(100% - 2em);
	padding: 1em;
	padding-right: 0;
}

.start__content {
	display: flex;
	justify-content: space-between;
	margin-top: 5vh;
}

.start__text {
	margin-top: 1em;
	flex: 0 1 54%;
}

.start__text img {
	width: 95%;
}

.start__p {
	font-size: 1.3em;
	line-height: 1.3em;
	margin-bottom: 0.8em;
}


.start__text-link {
	color: black;
	text-decoration: none;
	border-bottom: 2px dashed rgba(0, 0, 0, 0.3);
}

.start__text-link:hover {
	color: #ff6900;
	border-bottom-color: rgba(255, 135, 50, 0.5);
}

.start__btn {
	display: flex;
	align-items: baseline;
	font-size: 1.3em;
	line-height: 1.3em;
}

.start__btn a {
	color: #fff;
	padding: 0.4em 1em;
	border-radius: 0.4em;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	background: linear-gradient(300deg, #ff00c8, #ff6900, #ffb600, #ff6900, #ff00c8);
	background-size: 1000% 1000%;
}

.start__stories {
	display: flex;
	flex: 0 1 43%;
	margin-top: -2em;
	margin-left: -0.5em;
}
