﻿.stories-small {
	display: flex;
	margin: 2em 0;
	flex-wrap: wrap;
}

.story {
	position: relative;
	cursor: pointer;
	align-self: flex-start;
}


.story-big {
	flex: 0 1 50%;
}

.story-small {
	flex: 0 1 calc(20% - 6px);
	margin-bottom: 6px;
	margin-right: 6px;
}

.story-big:nth-child(1) {
	transform: rotate(-3deg);
}

.story-big:nth-child(2) {
	margin-top: -5%;
	margin-left: -3em;
}

.story__image {
	position: relative;
}

.story__image img {
	border-radius: 1.7em;
}

.story__avatar {
	position: absolute;
	bottom: 0.5em;
	text-align: center;
	width: 100%;
}

.story__avatar img {
	width: 20px;
	border-radius: 50%;
}

.story__avatar span {
	display: block;
	font-size: 0.55em;
	color: #fff;
}

.story__btn {
	display: none;
	position: absolute;
	height: calc(100% - 4px);
	width: 100%;
	border-radius: 1.7em;
	bottom: 3px;
	background: url(../img/play.svg) no-repeat center bottom 10px, radial-gradient(circle at bottom, rgba(255, 0, 150, 0.6) 0%, rgba(255, 0, 150, 0) 30%, rgba(255, 0, 150, 0) 100%), radial-gradient(circle at bottom right, rgba(255, 105, 0, 0.5) 0%, rgba(255, 105, 0, 0) 60%, rgba(255, 105, 0, 0) 100%), radial-gradient(circle at top left, rgba(255, 105, 0, 0.3) 0%, rgba(255, 105, 0, 0) 50%, rgba(255, 105, 0, 0) 100%);
}


.story:hover .story__avatar {
	display: none;
}

.story:hover .story__btn {
	display: block;
}
