﻿@font-face {
	font-family: "DodoRegular";
	src: url("../fonts/DodoRegular.woff") format("woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 20px;
	font-family: 'DodoRegular', Arial;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #000;
}

h2 {
	font-size: 2.6em;
	line-height: 1.1em;
	margin: 0 0 0.4em 0;
}

h3 {
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 0.6em 0 0.6em 0;
}

p {
	margin: 0 0 0.7em 0;
	line-height: 1.4em;
}

.text-highlighted {
	background-color: rgba(255, 235, 0, 0.2);
}


.center {
	width: 80%;
	margin: 5em auto;
	padding-right: 10%;
}

.center.info {
	padding-right: 0;
}

.big {
	margin: 0 0 0.8em 0;
	font-size: 1.3em;
	line-height: 1.3em;
}


.info .row {
	display: flex;
	margin-bottom: 1em;
}

.info .col {
	flex: 0 1 50%;
	padding-right: 9%;
}


.graphics {
	display: flex;
	margin: 2em 0;
	flex-wrap: wrap;
}

.graphics .bars {
	width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}


.graphics .bar {
	flex-grow: 1;
	margin-right: 1px;
}

.bar .amount {
	color: #ff6900;
	font-size: 1.5em;
	line-height: 1.4em;
}

.bar .body {
	background-color: rgba(255, 105, 0, 0.2);
	border-top: 3px solid #ff6900;
}

.bar .year {
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.8em;
}

.graphics .caption {
	width: 25%;
	padding-left: 3%;
	color: #888;
}


.form .row {
	display: flex;
}

.form .col-form {
	flex: 0 1 65%;
}

.form .col-form form {
	width: 620px;
}

.form .col-picture {
	flex: 0 1 35%;
	display: flex;
	justify-content: flex-end;
}

.col-picture img {
	position: relative;
	left: 5em;
	width: auto;
	height: 100%;
	max-height: 38em;
	transform: rotate(-2deg);
}

.form .input-block, .form .checkbox-block {
	margin-bottom: 25px;
	position: relative;
}

.input-block .input {
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 6px;
	padding: 0 12px;
	width: 100%;
	height: 44px;
	-webkit-appearance: none;
	appearance: none;
	font-size: 16px;
}

.input-block select {
	background-image: url(../img/drop.svg);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center right 10px;
}

.input-block .input:hover, .input-block .input:focus {
	border: 1px solid #ff6900;
	-webkit-transition: ease-out 0.3s;
	transition: ease-out 0.3s;
	outline: none;
}

.input-block label {
	background: #fff;
	position: absolute;
	color: #a1a1a1;
	padding: 0 3px;
	font-size: 16px;
	top: 15px;
	left: 15px;
	display: inline-block;
	transition: .2s;
}

.input-block.active label {
	position: absolute;
	font-size: 12px;
	left: 4px;
	top: -5px;
}


.input-row {
	display: flex;
}

.input-row .input-col {
	flex: 0 1 50%;
}

.input-col:first-child {
	padding-right: 12px;
}

.input-col:last-child {
	padding-left: 12px;
}

.input-block .hint {
	font-size: 14px;
	opacity: .7;
}

.checkbox-block label {
	font-size: 16px;
}

.checkbox-block label a {
	border-bottom: 1px solid rgba(255, 106, 0, 0.5);
	line-height: 1.6;
	color: #ff6900;
}

.input-block .submit {
	width: 100%;
	background-image: linear-gradient(to top, #ff4848, #ff6900);
	height: 70px;
	line-height: 70px;
	padding: 0 60px;
	font-size: 20px;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 7px 14px rgba(249, 107, 13, 0.2), 0 3px 6px rgba(249, 107, 13, 0.2);
	border: none;
	outline: none;
	cursor: pointer;
}


.main-footer {
	padding: 30px 0;
	font-size: 16px;
}

.footer-nav {
	display: flex;
	font-family: Arial;
}

.footer-nav-col {
	flex: 0 1 18%;
}

.app-buttons {
	flex: 0 1 28%;
	justify-content: flex-end;
	display: flex;
}

.app-buttons a {
	display: inline-block;
	width: 137px;
}

.app-buttons a:last-child {
	width: 123px;
	margin-left: 5px;
}

.footer-nav-col .nav-header {
	font-weight: 700;
	margin-bottom: 7px;
	display: inline-block;
}

.footer-nav-col li {
	list-style: none;
	margin-bottom: 7px;
	line-height: 1.4;
}

.footer-nav-col li a {
	opacity: .7;
}

.main-footer .row {
	display: flex;
	margin-top: 50px;
}

.main-footer .social-buttons {
	flex: 0 1 75%;
	display: flex;
}

.social-buttons div {
	flex: 0 1 10%;
	padding-left: 30px;
	padding-top: 5px;
	margin-right: 8px;
}

.social-buttons a {
	font-size: 16px;
}

.social-buttons .social-facebook {
	background: url(../img/icons/facebook.svg) no-repeat;
	background-size: 28px;
	background-position: 0 -5px;
}
.social-buttons .social-vk {
	background: url(../img/icons/vk.svg) no-repeat;
	background-size: 28px;
	background-position: 0 -5px;
}
.social-buttons .social-youtube {
	background: url(../img/icons/youtube.svg) no-repeat;
	background-size: 28px;
	background-position: 0 -5px;
}
.social-buttons .social-instagram {
	background: url(../img/icons/instagram.svg) no-repeat;
	background-size: 28px;
	background-position: 0 -5px;
}

.main-footer .call {
	flex: 0 1 25%;
	text-align: right;
}

.main-footer .call .phone {
	font-size: 26px;
}

.main-footer .call .hint {
	margin-top: 3px;
	color: #999999;
}
